.btn {
    color: $color-white;
    font-weight: 600;
    font-family: $font-body;
    font-size: 1.4rem;
    padding: 14px 44px;
    background-color: #bababa;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    white-space: nowrap;
    cursor: pointer;

    @include min($md) {
        padding: 16px 55px;
        font-size: 1.6rem;
    }

    &:hover {
        text-decoration: none;
    }
}

.btn-green {
    background-color: $color-green;

    &:hover {
        background-color: darken($color-green, 10%);
    }
}

.btn-black {
    background-color: $color-body;

    &:hover {
        background-color: lighten($color-body, 10%);
    }
}
