.hero {
    position: relative;
    z-index: 1;
    background-color: $color-gray;
}

.hero-content {
    padding-top: 170px;
    padding-bottom: 30px;

    @include min($md) {
        padding-bottom: 50px;
        padding-top: 170px;
        max-width: 800px;
    }
}

.hero-title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.2;
    margin-bottom: 18px;

    @include min($md) {
        font-size: 5.8rem;
        margin-bottom: 24px;
    }
}

.hero-subtitle {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 32px;

    @include min($md) {
        font-size: 1.6rem;
        margin-bottom: 48px;
    }
}
